ol li {
    background-color: yellow;
}

li {
    font-size: 20px;
}

li em {
    font-weight:bold;
}

ul:first-of-type li:nth-child(2), ul:first-of-type li:nth-child(3) {
    background-color: pink; 
}

.par {
    color: green;
}

.impar {
    text-transform: capitalize;
}

.heading-all {
    color: red;
}

.heading-all em {
    font-size: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

ul li.stackover:hover {
    color: orange;
    font-weight: bold;
}

ul li.w3schools:hover {
    color: red;
    font-weight: bold; 
}
 
ul li.developer:hover {
     color: blue;
     font-weight: bold;
 }

 ul li.devdocs:hover {
     color: beige;
     font-weight: bold;
 }

ul li.trybe:hover {
    color: green;
    font-weight:bold;
}